[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
requests = "*"
django = "*"
factory-boy = "*"

[dev-packages]

faker = "*"
factory-boy = "*"
pytest = "*"
django-extensions = "*"
ipython = "*"
ipdb = "*"
